@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<h1>@ViewData["Title"]</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Players" asp-action="Index">Players</a>
<form>
    <input name="id" /><br />
    <input name="name" /><br />
    <input name="description" /><br />
    <input type="submit" value="Save" />
</form>