@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
}
<h1>@ViewData["Title"]</h1>

<a class="nav-link text-black" asp-area="" asp-controller="Player" asp-action="PlayerList">Players list</a>

<form>
    <input name="id" placeholder="ID" /><br />
    <input name="name" placeholder="Name" /><br />
    <input name="description" placeholder="Description" /><br />
    <input type="submit" value="Save" />
</form>